
<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Muhasebe Sistemi</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
      @loggedIn
        @include('layout.navbar')
        <div id="layoutSidenav">
            @include('layout.sidebar')
            <div id="layoutSidenav_content">
              <main>
                  <div class="container-fluid">
                      <div class="card mb-4 mt-3">
                          <div class="card-header"><i class="fas fa-chart-area mr-1"></i>BAŞLIK</div>
                          <div class="card-body">
                            @!section('content')
                          </div>
                          <div class="card-footer small text-muted">23.03.2020</div>
                      </div>
                  </div>
              </main>
              <footer class="py-4 bg-light mt-auto">
                  <div class="container-fluid">
                      <div class="d-flex align-items-center justify-content-between small">
                          <div class="text-muted">Copyright &copy; Muhasebe Sistemi 2020</div>
                          <div>
                              <a href="#">Gizlilik Politikası</a>
                              &middot;
                              <a href="#">Şartlar &amp; Kurallar</a>
                          </div>
                      </div>
                  </div>
              </footer>
          </div>
        </div>
        @else
        @!section('content')
        @endloggedIn
        
        {{ script('https://code.jquery.com/jquery-3.4.1.min.js') }}
        {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js') }}
        {{ script('js/scripts.js') }}
        {{ script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js') }}
        {{ script('js/chart-area-demo.js') }}
        {{ script('js/chart-bar-demo.js') }}
        {{ script('js/chart-pie-demo.js') }}
    </body>
</html>
