<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Muhasebe Sistemi</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    @include('layout.navbar')
    <div id="layoutSidenav">
        @include('layout.sidebar')
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="card mb-4 mt-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                           <b> {{ baslik }} </b>
                        </div>
                        <div class="card-body">
                                <div class="form-group">
                                    <label for="tarih">Tarih</label>
                                    <input type="text" class="form-control" name="tarih" value="{{ satis.tarih }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="firma_id">Firma Adı</label>
                                    <select name="firmalar_id" id="firma_id" class="form-control" disabled>
                                        <option value="{{ satis.firmalar_id }}"></option>
                                        @each(firma in firmalar)
                                            <option value="{{ firma.id }}">{{ firma.firma_adi }}</option>
                                        @endeach
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="tutar">Tutar</label>
                                    <input type="text" class="form-control" name="tutar" value="{{ satis.tutar }}" disabled>
                                </div>                                                                
                                <div class="row">
                                    <div class="col-auto mr-auto">
                                        <form id="silForm" action="{{ '/satislar/' + satis.id + '?_method=DELETE' }}" method="POST">
                                            {{ csrfField() }}
                                            <button id="sil" class="btn btn-danger"><i class="fas fa-trash mr-1"></i>Sil</button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/satislar">
                                            <button type="button" class="btn btn-warning">
                                                <i class="fas fa-backward mr-1"></i>
                                                Geri Dön
                                            </button>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {{ script('https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js') }}
    {{ script('js/scripts.js') }}
    <script>
        $("#sil").click(function(event)
        {
        event.preventDefault();
            var onay = confirm("Kayıt silinecek!");
            if(onay){
                document.getElementById("silForm").submit();
            }
        });
    </script>
</body>
</html>